{% extends "base.html"  %}
<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre-se</title>
</head>

{%  block content %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ user_form.usernamer.errors }}
            <label>Usuario: </label>
            {{ user_form.username }}
        </div>

        <div class="form-group">
            {{ user_form.password1.errors }}
            <label>Senha: </label>
            {{ user_form.password1 }}
        </div>

        <div class="form-group">
            {{ user_form.password2.errors }}
            <label>Confirme a senha: : </label>
            {{ user_form.password2 }}
        </div>


        <input type="submit" value="Cadastrar">
    </form>

{% endblock %}
</html>